<div class="navbar-item">
  <div v-if="user">
    Welcome {{user.username}}
  </div>
</div>
<div v-if="user" class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
      Account
  </a>
  <div class="navbar-dropdown">
    <a href="#" class="navbar-item">
        Profile
    </a>
    <hr class="navbar-divider">
    <a class="navbar-item">
        Logout
    </a>
  </div>
</div>
<div v-else class="navbar-item has-dropdown ">
  <div class="buttons">
    <router-link :to="{name: 'PageRegister'}" class="button is-primary">
      <strong>Sign up</strong>
    </router-link>
    <router-link :to="{name: 'PageLogin'}" class="button is-light">
      Log in
    </router-link>
  </div>
</div>
